<div class="grid">
  <div class="col-12 lg:col-4 xl:col-4">
    <div class="card dashboard-card mb-0 shadow-3">
      <div class="text-center">
        <span class="dashboard-card__label block text-lg mb-3">Total analizadas</span>
        @if (detections[0]) {
          <div class="dashboard-card__value dashboard-card__value--total">{{detections[0][0].total_sum}}</div>
        }
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-4 xl:col-4">
    <div class="card dashboard-card mb-0 shadow-3">
      <div class="text-center">
        <span class="dashboard-card__label block text-lg mb-3">Positivos</span>
        @if (detections[0]) {
          <div class="dashboard-card__value dashboard-card__value--positive">{{detections![0][0].detections}}</div>
        }
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-4 xl:col-4">
    <div class="card dashboard-card mb-0 shadow-3">
      <div class="text-center">
        <span class="dashboard-card__label block text-lg mb-3">Negatius</span>
        @if (detections[0]) {
          <div class="dashboard-card__value dashboard-card__value--negative">{{detections![0][0].not_detections}}</div>
        }
      </div>
    </div>
  </div>


  <div class="col-12 lg:col-12 xl:col-12">
    <div class="card">
      <div class="flex justify-content-center flex-wrap mb-4">
        <p-datepicker [(ngModel)]="date" (ngModelChange)="onChange($event)" class="text-center"></p-datepicker>
      </div>
      <p-chart type="bar" [data]="data" [options]="options"></p-chart>
    </div>
  </div>


</div>
