.p-tabmenu .p-tabmenu-nav {
    background: transparent !important  
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
    background: transparent !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
    color: #f7b500;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
    border-color: #f7b500;
}