<p-toast></p-toast>

<p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>

<div *ngIf="activeItem.label == 'Imagenes';else other_tabMenu" class="mt-5">
    <div class="card">
        <p-fileUpload name="demo[]" chooseLabel="Escollir" uploadLabel="Pujar" cancelLabel="Cancel·lar" (uploadHandler)="onUpload($event)" (onSelect)="onSelect()" [multiple]="true" [customUpload]="true" accept="image/*" maxFileSize="1000000" *ngIf="!analyze">
            <ng-template pTemplate="content">
                <!-- <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul> -->
                <div *ngIf="results">
                    <div *ngFor="let result of results">
                        <p *ngIf="result.detection == false;else other_content">No hay deteccion</p>
                        <ng-template #other_content>
                            <p-image width="100%" src="http://localhost:8000/imagenes/{{result.procesada}}" alt="Image" [preview]="true"></p-image>
                        </ng-template>
                    </div>
                </div>
            </ng-template>
        </p-fileUpload>
        <div class="text-center">
            <p-progressSpinner *ngIf="analyze"></p-progressSpinner>
        </div>
    </div>
</div>

<ng-template #other_tabMenu>
    <div class="mt-4 mb-4">
        <form [formGroup]="formulario" *ngIf="show">
            <p-button label="Agregar" (click)="agregarUrl()"></p-button>
            <div formArrayName="urls" class="mt-4 mb-4 mr-4">
              <div *ngFor="let url of urls.controls; let i = index" class="url-container" class="mt-4">
                <textarea rows="5" cols="30" pInputTextarea [formControl]="url" class="mr-4 w-9"></textarea>
                <p-button label="Eliminar" styleClass="p-button-danger" (click)="eliminarUrl(i)"></p-button>
              </div>
            </div>
            <p-button label="Enviar" type="submit" (click)="onSubmit()"></p-button>
          </form>
          <div *ngIf="!show">
            <p-button label="Natejar" (click)="natejar()"></p-button>
            <div *ngFor="let result of results" class="mt-4">
                <p *ngIf="result.detection == false;else other_content">No hay deteccion</p>
                <ng-template #other_content>
                    <p-image width="100%" src="http://localhost:8000/imagenes/{{result.procesada}}" alt="Image" [preview]="true"></p-image>
                </ng-template>
            </div>
        </div>
        <div class="text-center">
            <p-progressSpinner *ngIf="analyze"></p-progressSpinner>
        </div>
    </div>
</ng-template>